.painting-item {
  border: 1px solid $grey-2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  padding: 1rem 1.5rem;

  .painting-title {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #989898;

    a {
      background-color: $purple-1;
      border-radius: 20px;
      color: #fff;
      padding: 0.35rem 0.75rem;
      margin-right: 0.5rem;
      flex-shrink: 0;
    }

    .days {
      flex-shrink: 0;
    }

    img {
      margin-right: 0.375rem;
      margin-left: 0.5rem;
    }
  }

  .image-box {
    position: relative;
    margin-top: 0.75rem;

    img {
      margin-top: 3px;
      width: 100%;
      margin-right: 0.25rem;
    }

    .like {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(34, 34, 34, 0.72);
      padding: 0.25rem 0.5rem;
      border-top-left-radius: 0.5rem;
      color: #fff;
      font-size: 0.75rem;
      cursor: pointer;
    }
  }

  .description {
    margin-top: 0.5rem;

    .main {
      font-weight: bold;
      margin-top: 0.75rem;
    }

    .sub {
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }

    .price {
      border-top: 1px solid $grey-2;
      margin-top: 1rem;
      padding: 1rem 0;

      &-tag {
        color: $purple-1;
        font-weight: bold;
        margin: 0.25rem 0;
      }
    }
  }
}

.btn-go-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3.23rem;
  height: 3.23rem;
  min-width: 0;
  background: #333333;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);

  .card {
    background-color: #fff;
    width: 33.3%;
    border-radius: 0.25rem;
    padding: 3rem;
    text-align: left;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

    #term-title {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
    .close-btn {
      margin: 0 auto;
      width: 50%;
      margin-top: 1.25rem;
    }
    .btn-model {
      margin: 0 auto;
      width: 50%;
      margin-top: 1.25rem;
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
