@import "./variables";
@import "./devices";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.625rem 1rem;
  min-width: 6rem;
  transition: 0.3s ease-in-out;
  color: $black-3;
  height: 3rem;

  &:active {
    color: $purple-1;
  }

  &-content-left {
    justify-content: left;
  }

  &-shadown {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  }

  &.btn-header-login {
    border-color: $purple-1;
    color: $purple-1;
    margin-left: 1.5rem;
    flex-shrink: 0;

    img, svg {
      margin-right: 0.5rem;
    }
  }

  &-pill {
    border-radius: 2rem;

    &:hover {
      background: $purple-1;
      color: #fff;

      svg {
        path {
          stroke: #fff !important;
        }
      }
    }
  }

  &-round {
    border-radius: 50%;
    &:hover {
      background: $purple-1;
      color: #fff;
      svg {
        path {
          stroke: #fff !important;
        }
      }
    }
  }

  &-round-sm {
    border-radius: 3rem;
    &:hover {
      background: $purple-1;
      color: #fff;
      svg {
        path {
          stroke: #fff !important;
        }
      }
    }
  }

  &-full {
    width: 100%;
  }

  &-purple-primary {
    background: $purple-1;
    color: #fff;
  }

  &-outline-purple-1 {
    border-color: $purple-1;
    color: $purple-1;
  }

  &-purple-2 {
    background: $purple-2;
    color: #fff;
  }

  &-light {
    background-color: #ffffff;
    color: $black-1;
  }

  &-gradient {
    background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%);
    color: #fff;
  }

  &-gradient-1 {
    background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 30.74%, #92ccf5 100%);
    color: #fff;
  }

  &-dark {
    background-color: $black-1;
    color: #fff;
  }

  &-black2 {
    background-color: $black-2;
    color: #fff;
  }

  &-grey2 {
    background-color: $grey-2;
    color: $black-3;
  }
}

.container {
  padding: 3.5rem 2rem; //32px

  @include xxl {
    padding: 3.5rem 7rem; //112px
  }

  @include xxxl {
    padding: 3.5rem 22rem; //112px
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  grid-auto-rows: 1fr;
}
.w-30 {
  max-width: 30%;
}
.text-center {
  text-align: center !important;
  vertical-align: middle;
}

.text-left {
  text-align: left !important;
  vertical-align: middle;
}
.text-right {
  text-align: right !important;
  vertical-align: middle;
}
.text-white {
  color: #fff !important;
}
.text-purple {
  color: #7f5ce0 !important;
}
.text-black-1 {
  color: $black-1 !important;
}
.text-black-2 {
  color: $black-2 !important;
}
.text-black-3 {
  color: $black-3 !important;
}
.text-red {
  color: $red-1;
}
.text-red-1 {
  color: $red-2;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-10 {
  margin-top: 2.5rem /* 40px */;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-6 {
  margin-left: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-6 {
  margin-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.inline-block {
  display: inline-block;
}

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: $min-with;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center {
  display: flex;
  align-items: center;
}

.arrow {
  &-left {
    transform: rotate(90deg);
  }
  &-right {
    transform: rotate(-90deg);
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
