//varialbe
$purple-1: #7f5ce0;
$purple-2: #bba4ff;
$purple-3: #f2eeff;
$purple-4: #f8f6ff;
$black-1: #222222;
$black-2: #646464;
$black-3: #989898;
$grey-1: #e6e6e6;
$grey-2: #f0f0f0;
$grey3-bg: #f8f8f8;
$red-1: #ff1c1c;
$red-2: #fff8f8;
$white: #fff;
$gradient-1: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 30.74%, #92ccf5 100%);
$min-with: 70rem;
