@import "./extends/variables";
@import "./extends/devices";

header {
  border-bottom: 1px solid $grey-2;
}

main {
  display: flex;
  flex-direction: column;
  min-width: $min-with;

  .auction-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .action-title {
      line-height: 1.875rem;

      &.left-title {
        margin-right: 1rem;
      }

      &.right-title {
        margin-left: 1rem;
      }

      button {
        font-size: 1.25rem;
        border: none;
        background-color: $white;

        &.clicked {
          font-weight: bold;
          border-bottom: 4px solid $black-1;
        }

        &.hall-of-fame-style {
          color: $white;
          text-decoration: underline;
          text-decoration-color: $white;
          background-color: $black-1;
        }
      }
    }
  }

  .auction-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0rem;

    .search-boxs {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $white;
      width: 37rem;
      border: 1px solid $grey-1;
      border-radius: 1.5rem;
      padding: 0.75rem 1.5rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

      img {
        width: 1.5rem;
        height: 1.5rem;
      }

      input {
        width: 32rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        border: none;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $black-3;

        &:focus {
          outline: none;
        }
      }
    }

    .select-option-button {
      background-color: $white;
      border: 1px solid $grey-1;
      border-radius: 1.5rem;
      margin-left: 1rem;
      padding: 0.75rem 1.5rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

      button {
        border: none;
        background-color: $white;
        counter-reset: $black-1;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
      }

      &:hover {
        button {
          color: $purple-1;
        }
      }
    }

    .select-option {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: $white;
      border: 1px solid $grey-2;
      padding: 1.5rem;
      border-radius: 1.5rem;
      position: absolute;
      width: 9rem;
      height: 19rem;

      @include lg {
        left: 54rem;
        top: 19rem;
      }

      @include xl {
        left: 61.5rem;
        top: 19rem;
      }

      @include xxl {
        left: 63rem;
        top: 22rem;
      }

      @include xxxl {
        left: 77rem;
        top: 22rem;
      }

      .select-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        span {
          font-size: 1rem;
          line-height: 1.5rem;
          margin-left: 1.125rem;
        }
      }

      .button-option {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.125rem;

        .btn-cancel {
          margin-right: 0.25rem;
          button {
            background-color: $white;
            border: 1px solid $grey-1;
            border-radius: 20px;
            padding: 8px 16px;
            font-size: 0.75rem;
            line-height: 1.125rem;
          }
        }

        .btn-apply {
          margin-left: 0.25rem;

          button {
            background-color: $purple-1;
            color: $white;
            border: 1px solid $grey-1;
            border-radius: 20px;
            padding: 8px 16px;
            font-size: 0.75rem;
            line-height: 1.125rem;
          }
        }
      }
    }
  }

  .selected-filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #f8f6ff;
    margin-bottom: 2.5rem;

    .list-seleted {
      flex-grow: 7;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      color: $purple-1;

      .title-list {
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin-right: 1rem;
      }

      .title-selected {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        svg {
          path {
            stroke: $purple-1;
          }
        }
      }
    }

    .cancel-all {
      padding-right: 2rem;

      button {
        border: none;
        background-color: $purple-4;
        color: $purple-1;
        font-size: 1rem;
        line-height: 1.125rem;

        &:hover {
          border-bottom: 1px solid $purple-1;
        }
      }
    }
  }

  .auction-table {
    height: 100%;

    table {
      table-layout: fixed;
      width: 100%;
      border-top: 3px solid $black-2;

      tr {
        height: 2.5rem;

        th {
          &.w-88 {
            width: 5.5rem;
          }

          &.w-104 {
            width: 6.5rem;
          }

          &.w-184 {
            width: 11.5;
          }

          &.w-120 {
            width: 7.5rem;
          }

          &.w-204 {
            width: 12.75rem;
          }

          &.w-212 {
            width: 13.25rem;
          }

          &.w-304 {
            width: 19rem;
          }
        }

        &.table-title {
          background-color: $grey3-bg;
          th {
            border: 1px solid #f0f0f0;
            text-align: center !important;
            vertical-align: middle;

            .from-to-column {
              display: flex;
              justify-content: center;
              align-items: center;

              .from {
                flex-grow: 1;
              }

              .to {
                flex-grow: 1;
              }
            }
          }
        }

        &.table-content {
          background-color: $white;

          &.h-14 {
            height: 3.5rem;
          }

          td {
            border: 1px solid $grey-2;
            text-align: center !important;
            vertical-align: middle;

            .text-time-color {
              color: $black-2;
            }

            .text-work-number {
              text-decoration: underline;
            }

            .text-price {
              font-weight: bold;
            }

            .from-to-column-content {
              display: flex;

              .content-1 {
                text-decoration: underline;
                width: 7.5rem;
              }

              .content-2 {
                width: 3.9rem;
              }

              .content-3 {
                width: 7.5rem;
              }
            }

            .text-Txid {
              color: $purple-1;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .hall-of-fame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    .title-rank {
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.25rem;
      background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 10.74%, #92ccf5 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .list-card-rank {
      display: flex;
      justify-content: flex-start;
      margin-top: 5.5rem;

      .card-rank {
        .medal {
          position: relative;
          left: 19rem;
          top: 2rem;
        }
        .left-card {
          height: 30rem;
          width: 17.5rem;
          margin-right: 3rem;
          background-color: $white;
          color: $black-1;
        }
        .middle-card {
          height: 30rem;
          width: 17.5rem;
          margin-right: 3rem;
          background-color: $white;
          color: $black-1;
        }
        .right-card {
          height: 30rem;
          width: 17.5rem;
          background-color: $white;
          color: $black-1;
        }
      }
    }
  }

  .delimiter {
    width: 76rem;
    height: 2px;
    background-color: $black-2;
    margin: 5rem;
  }
}

.not-display-template {
  display: none;
}

.display-template {
  display: block;
}

.black-background {
  background-color: $black-1;
}
