@import "./extends/variables";
@import "./extends/devices";

.browse-detail {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;

  .detail-container {
    .detail-img-wrapper {
      .img-wrapper {
        position: relative;
        width: inherit;
        .img-detail {
          height: 37rem;
          border: 1px solid $grey-1;
          border-radius: 0.5rem;
        }
        #zoom-btn {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: rgba(34, 34, 34, 0.72);
          padding: 0.5rem 1rem;
          margin-bottom: 0.35rem;
          border-top-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          cursor: pointer;
        }
      }
      .btn-wrapper {
        display: flex;
        img {
          height: 1rem;
          margin-right: 0.25rem;
        }
        span {
          color: $black-2;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.5rem;
          margin-left: 0.5rem;
        }
      }
    }
    .detail-content-wrapper {
      border-top: 0.25rem solid $black-2;

      .tag-button-wrapper {
        position: relative;
        margin-top: 1rem;
        padding-top: 0.5rem;

        .icon-wrapper {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $grey-1;
          padding: 0.5rem;
          border-radius: 50%;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .coin-detail {
        width: 100%;
        tr {
          border-bottom: 1px solid $grey-2;

          td {
            padding: 0.875rem;
            font-size: 1rem;
            .text-black-3 {
              color: $black-3;
            }
          }
        }
      }
    }
  }
  hr {
    background-color: $grey-1;
    border: 4px solid $grey-1;
  }

  .bid-container {
    padding-top: 0;
    .grid-cols-2 {
      border-top: 1px solid $grey-2;
      padding-top: 2.5rem;
      .bid-left {
      }
      .bid-right {
        .input-wrapper {
          width: 100%;
          height: 3.5rem;
          border: 2px solid $black-1;
          border-radius: 4px;

          .logo-metadium {
            background-color: $black-1;
            width: 3.5rem;
            height: 100%;
            border: 2px solid $black-1;
            border-radius: 4px;
            img {
              display: inline-block;
            }
          }
          input {
            outline: none;
            border: none;
            width: 65%;
            height: 1.5rem;
            text-align: end;
            font-size: 1.25rem;
            font-weight: 700;
            color: $purple-1;

            &::placeholder {
              font-weight: 400;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          &.err {
            border: 2px solid red;
            input {
              color: $black-1;
            }
          }
        }
      }
    }
  }

  .custom-table {
    width: 100%;

    tr {
      th {
        font-weight: 500;
        padding: 1rem 1.5rem;
        border: 1px solid $grey-2;
        background-color: $grey3-bg;
      }
      td {
        padding: 1rem 1.5rem;
        border: 1px solid $grey-2;
        height: 100%;
      }
    }

    &.type-1 {
      border-top: 2px solid $black-2;
    }

    &.simple-table {
      td {
        &:first-child {
          font-weight: 500;
          width: 12%;
          background-color: $grey3-bg;
        }
      }
    }

    &.data-table {
      th {
        &.border-none {
          color: $black-2;
          border-left: 0;
          border-right: 0;
          &:first-child {
            border-left: 1px solid $grey-2;
          }
          &:last-child {
            border-right: 1px solid $grey-2;
          }
        }
      }
      td {
        text-align: center;
        a {
          color: $purple-1;
          text-decoration: underline $purple-1 solid;
        }
      }
    }

    #group {
      display: flex;
      justify-content: space-around;
      border: 0;
      border-bottom: 1px solid $grey-2;
      td {
        &:nth-last-child() {
          border-bottom: 0 !important;
        }
      }
    }
  }

  .detail-table-wrapper {
    position: relative;
    max-height: 18rem;
    overflow-y: scroll;
    border: 2px solid $grey-2;
    border-radius: 4px;
    th {
      position: sticky;
      top: 3.2rem;
    }
    #title {
      border-top: 0;
      background-color: $grey-2;
      position: sticky;
      top: 0;
    }

    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1.5rem;
      border: 0.25rem solid $black-3;
    }
  }

  .img-zoom {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    img {
      max-width: 37.5rem;
      height: auto;
      border: 1px solid $grey-1;
      display: inline-block;
      margin-bottom: 2.5rem;
    }
    button {
      width: 18rem;
    }
  }
}
