@import "./extends/variables";
@import "./extends/devices";

.homepage {
  .banner {
    height: 400px;
    min-width: 70rem;
    background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 30.74%, #92ccf5 100%);
  }

  .painting {
    min-width: 70rem;
    .filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-category {
        p {
          display: inline-block;
          color: $black-2;
          padding-bottom: 0.5rem;
          margin-right: 1.5rem;

          // @include xxl {
          //   margin-right: 2rem;
          // }
        }

        .active {
          font-weight: bold;
          border-bottom: 0.25rem solid $black-1;
          color: $black-1;
        }
      }
    }

    .sort-bar-category {
      display: flex;
      .sort-wrapper {
        min-width: 12rem;
        position: relative;
        .button-sort {
          width: 100%;
          justify-content: space-between;
          &:hover {
            background-color: #fff;
            color: $black-3;
          }

          .list-selected-sort {
            margin: 0 1.5rem;
            font-weight: 700;
            color: $black-1;
            max-width: 10rem;
          }
        }

        .list-state {
          display: none;
          position: absolute;
          top: 3.5rem;
          right: 0;
          z-index: 1;
          background-color: #fff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 1rem;
          padding: 1.5rem;
          margin-top: 0.5rem;

          &.list-sort {
            padding: 1.5rem 0;
            min-width: 14rem;
          }
          .sort-item {
            padding: 0.7rem 1.25rem;

            &:hover {
              background-color: $grey-2;
            }
            &.selected {
              background-color: $purple-3;
            }
          }
          .state {
            display: flex;
            align-items: center;
            margin-bottom: 1.25rem;

            &-label {
              margin-left: 1.25rem;
              min-width: 5.5rem;
            }
          }

          .button-wrapper {
            display: flex;

            &-close {
              margin-right: 0.5rem;
              font-size: 0.75rem;
              padding: 0.25rem 1rem;
              height: 2.25rem;
              min-width: 4rem !important;
            }
            &-save {
              margin-left: 0.5rem;
              font-size: 0.75rem;
              height: 2.25rem;
              min-width: 4rem !important;
            }
          }
        }
      }
    }

    .list-painting {
      padding-top: 3.5rem;
    }
  }

  .bottom-action {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3.5rem;

    .top-btn {
      position: absolute;
      right: 0;
    }

    img {
      margin-left: 0.75rem;
    }
  }
}
