@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./extends/_reset";
@import "./extends/_utilities.scss";
@import "./extends/_variables";
@import "./extends/_common";

html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  color: $black-1;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  min-width: $min-with;
  border-bottom: 1px solid #f0f0f0;
  @include xxl {
    padding: 1rem 7rem;
  }

  @include xxxl {
    padding: 1rem 22rem;
  }

  .link {
    display: flex;
    align-items: center;

    .logo {
      width: 3rem;
    }

    .link-container {
      display: flex;

      a {
        font-size: 1.25rem;
        color: $black-1;
        font-weight: bold;
        padding: 0 0.75rem;
        transition: 0.3s all;
        &:hover {
          color: $purple-1;
        }
      }
    }
  }

  .action {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    .search-box {
      position: relative;
      border-radius: 2rem;
      overflow: hidden;
      border: 1px solid $grey-2;
      width: 80%;
      max-width: 22.5rem;
      &:focus {
        border-color: red;
      }
      &:hover {
        border: double 1px transparent;
        background-image: linear-gradient(white, white),
          linear-gradient(91.49deg, #6b0eda -0.16%, #af38c2 30.74%, #76bff3 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }

      .search-icon {
        position: absolute;
        left: 1.5rem;
        top: 1rem;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      input {
        width: 100%;
        padding: 1rem 3rem;
        background-color: $grey-2;
        transition: 0.3s all;
        outline: none;
        border: none;
        &::-webkit-search-cancel-button {
          position: absolute;
          right: 1.5rem;
          top: 1rem;
        }
        &:focus {
          background-color: #fff;
          outline: none;
        }
      }
    }

    a {
      margin: 0 0.75rem;
    }
  }
}

footer {
  background: $black-1;
  color: #fff;

  padding: 1.75rem 2rem;

  @include xxl {
    padding: 1.75rem 7rem;
  }

  @include xxxl {
    padding: 1.75rem 22rem;
  }

  img {
    margin-right: 0.5rem;
  }

  .info,
  .action {
    display: flex;
    align-items: center;
  }

  p {
    margin-right: 0.5rem;
  }

  .copyright {
    opacity: 0.9;
  }

  .desc {
    opacity: 0.5;
  }
}
