@import "./extends/variables";
@import "./extends/devices";

.login {
  width: 100%;
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey3-bg;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-grow: 1;

  .card-login {
    padding: 3.5rem 1.5rem;

    .logo-wrapper {
      width: 10rem;
      height: 1.25rem;
      margin: 0 auto;
      padding-bottom: 1rem;
    }
    .title {
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      padding: 0 6rem;
    }
    main {
      padding: 2rem 2rem 1rem 2rem;
    }
    .bg-active {
      background: linear-gradient(
        90deg,
        #000000 1.69%,
        #333333 73.89%,
        #646464 100%
      );
      .img-wrapper {
        width: 8rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
      p {
        color: white;
      }
    }
    .text-signup {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;
      a {
        display: inline-block;
        color: $black-1;
      }
    }
  }

  .signup-comp-card {
    padding: 3.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
    .sub-title {
      font-size: 1rem;
      font-weight: 700;
    }
    main {
      margin-top: 2rem;
      padding: 0 3rem;

      #light-btn {
        border: 1px solid $grey-1;
      }

      #primary-btn {
        background-color: $purple-1;
        color: #fff;
        margin-bottom: 1rem;
      }

      .description {
        text-align: left;
        margin-right: 1.5rem;
      }
    }
  }

  .signup-card {
    padding: 3.5rem 1.5rem;

    .img-wrapper {
      width: 10rem;
      height: 1.25rem;
      margin: 0 auto;
      padding-bottom: 1rem;
    }
    .title {
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    main {
      margin: 3rem 2rem 0 2rem;

      .checkbox-all-wrapper {
        padding-bottom: 1rem;
        border-bottom: 1px solid $grey-2;
      }
      .wrapper-checkbox {
        display: flex;
        padding: 1rem 1.5rem 0 0.75rem;
        justify-content: space-between;
        align-items: center;

        .right-icon {
          width: 1.5rem;
          height: 1.5rem;
          color: $grey-1;
          cursor: pointer;
        }
      }
      .checkbox-wrapper {
        display: flex;
        align-items: center;

        .text {
          margin-left: 1rem;
          &.text-bold {
            font-weight: 700;
          }
          span {
            color: $red-1;
          }
        }
        img {
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      .description {
        margin-top: 2.5rem;
      }

      .signup-btn {
        margin-top: 1.5rem;
        background-color: $grey-1;
        font-family: "Noto Sans KR", "Roboto", sans-serif;
        color: $grey-1;

        .btn-label {
          margin-left: 0.5rem;
        }
        &.active {
          background: linear-gradient(
            90deg,
            #000000 1.69%,
            #333333 73.89%,
            #646464 100%
          );
          color: #fff;
        }
      }
    }
  }

  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);

    .card {
      background-color: #fff;
      width: 33.3%;
      border-radius: 0.25rem;
      padding: 3rem;
      text-align: left;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

      #term-title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;
      }
      .close-btn {
        margin: 0 auto;
        width: 50%;
        margin-top: 1.25rem;
      }
      .button-wrapper {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
      }
    }
  }

  .modal-login {
    width: 20% !important;
    .btn {
      width: 50% !important;
      &.close-login-btn {
        margin-right: 1rem;
      }
    }
  }
}
.card {
  width: 30%;
  background-color: white;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
.mt-6 {
  margin-top: 1.5rem;
}

.app-card {
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-left {
      div {
        width: 8rem;
        height: 1.75rem;
      }
    }
    .qr-code {
      width: 4rem;
      height: 4rem;
    }
  }
}
