@import "./extends/variables";
@import "./extends/devices";

header {
  border-bottom: 1px solid $grey-2;
}

.mypie {
  position: relative;
  display: flex;
  .sidebar {
    width: 10rem;
    margin-right: 3rem;
    border-top: 0.25rem solid $black-1;
    padding-top: 1.25rem;

    h2 {
      color: $purple-1;
    }

    .list {
      margin-top: 1.375rem;
      padding-top: 1.5rem;
      border-top: 0.16rem solid $black-3;

      ul {
        color: $black-2;
        li {
          margin-top: 1rem;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &::before {
            content: "•";
            color: $black-2;
            display: inline-block;
            width: 1em;
          }

          &:hover {
            color: $purple-1;
          }
        }
      }
    }
  }
  .main {
    .info-and-status {
      $border: 1px;
      background: #fff;
      background-clip: padding-box; /* !importanté */
      border: solid $border transparent; /* !importanté */
      position: relative;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(
          91.49deg,
          #8b5ad4 -0.16%,
          #c760d8 30.74%,
          #92ccf5 100%
        );
      }

      .info {
        display: flex;
        align-items: center;
        padding: 2rem 2.5rem;

        img {
          margin-right: 1.5rem;
        }

        &-desc {
          &-title {
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
        }
      }

      .status {
        border-top: 1px solid $grey-2;
        display: flex;
        align-items: center;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        &-item {
          padding: 1rem 2.5rem;
          overflow: hidden;
          text-align: center;

          p {
            &:first-child {
              font-size: 0.75rem;
              color: $black-2;
              margin-bottom: 0.35rem;
            }
            &:nth-child(2) {
              font-size: 1.25rem;
              font-weight: bold;
            }
          }

          &:first-child {
            border-radius: 0px 0px 0px 8px;
            text-align: center;
          }
          &:hover {
            background: $purple-4;
          }
        }

        .active {
          background: $purple-4;
        }

        .action {
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-right: 2.5rem;

          svg {
            path {
              stroke: $black-3;
            }
          }
        }
        .setting-btn {
          width: 2.5rem;
          height: 2.5rem;
          min-width: 0;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          padding: 0.5rem;
        }

        .upload-btn {
          padding: 0.5rem 1rem;
          margin-left: 1rem;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .list-painting {
      padding-top: 3.5rem;
      gap: 3rem;
    }
  }
  .main-profile-edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75rem;
    height: 48rem;
    border: 1px solid $grey-1;
    border-radius: 0.5rem;
    padding: 2.5rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

    .edit-title {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.875rem; 
    }

    .avata-image {
      &-edit {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        button {
          width: 9.25rem;
          height: 2.5rem;
          background-color: $white;
          border: 1px solid $grey-1;
          border-radius: 0.25rem;
          font-size: 1rem;
          line-height: 1.5rem;

          &.btn-change {
            margin-left: 1.5rem;
          }
  
          &.btn-delete {
            margin-left: 1rem;
          }
        }
      }
    }
    .nickname {
      margin-top: 2.5rem;

      &-input {
        display: flex;
        align-items: center;
        width: 58rem;
        height: 3rem;
        border: 1px solid $grey-1;
        border-radius: 4px;
        padding-left: 1.5rem;
      }
    }

    .about-me {
      margin-top: 2.5rem;

      &-input {
        display: flex;
        align-items: center;
        width: 58rem;
        height: 5.5rem;
        border: 1px solid $grey-1;
        border-radius: 4px;
        padding-left: 1.5rem;
      }
    }

    .did {
      margin-top: 2.5rem;

      &-input {
        display: flex;
        align-items: center;
        width: 58rem;
        height: 3rem;
        border: 1px solid $grey-1;
        border-radius: 0.25rem;
        background-color: $grey-2;
        padding-left: 1.5rem;
        color: $black-3;
      }
    }

    .email {
      margin-top: 2.5rem;

      .email-info {
        display: flex;
        width: 60rem;

        &-input {
          display: flex;
          align-items: center;
          width: 47.25rem;
          height: 3rem;
          border: 1px solid $grey-1;
          border-radius: 4px;
          background-color: $grey-2;
          padding-left: 1.5rem;
          color: $black-3;
        }

        .btn-verification {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1.5rem;
          background-color: $white;
          width: 9.25rem;
          border: 1px solid $grey-1;
          border-radius: 0.25rem;

          button {
            background-color: $white;
            border: none;
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }

      }
    }
    .btn-edit {
      display: flex;
      margin-top: 3.75rem;
      width: 60rem;

      div {
        height: 2.5rem;

        &.btn-cancel {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $white;
          border: 1px solid $grey-1;
          border-radius: 0.25rem;
          margin-right: 1.5rem;

          button {
            background-color: $white;
            border: none;
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
        
        &.btn-save {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%);
          border: 1px solid $grey-1;
          border-radius: 0.25rem;

          button {
            background: none;
            color: $white;
            border: none;
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
  // .main-profile-edit {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   width: 75rem;
  //   height: 48rem;
  //   border: 1px solid $grey-1;
  //   border-radius: 0.5rem;
  //   padding: 2.5rem;
  //   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

  //   .edit-title {
  //     font-weight: bold;
  //     font-size: 1.25rem;
  //     line-height: 1.875rem; 
  //   }

  //   .avata-image {
  //     &-edit {
  //       display: flex;
  //       align-items: center;
  //       margin-top: 1rem;

  //       button {
  //         width: 9.25rem;
  //         height: 2.5rem;
  //         background-color: $white;
  //         border: 1px solid $grey-1;
  //         border-radius: 0.25rem;
  //         font-size: 1rem;
  //         line-height: 1.5rem;

  //         &.btn-change {
  //           margin-left: 1.5rem;
  //         }
  
  //         &.btn-delete {
  //           margin-left: 1rem;
  //         }
  //       }
  //     }
  //   }
  //   .nickname {
  //     margin-top: 2.5rem;

  //     &-input {
  //       display: flex;
  //       align-items: center;
  //       width: 58rem;
  //       height: 3rem;
  //       border: 1px solid $grey-1;
  //       border-radius: 4px;
  //       padding-left: 1.5rem;
  //     }
  //   }

  //   .about-me {
  //     margin-top: 2.5rem;

  //     &-input {
  //       display: flex;
  //       align-items: center;
  //       width: 58rem;
  //       height: 5.5rem;
  //       border: 1px solid $grey-1;
  //       border-radius: 4px;
  //       padding-left: 1.5rem;
  //     }
  //   }

  //   .did {
  //     margin-top: 2.5rem;

  //     &-input {
  //       display: flex;
  //       align-items: center;
  //       width: 58rem;
  //       height: 3rem;
  //       border: 1px solid $grey-1;
  //       border-radius: 0.25rem;
  //       background-color: $grey-2;
  //       padding-left: 1.5rem;
  //       color: $black-3;
  //     }
  //   }

  //   .email {
  //     margin-top: 2.5rem;

  //     .email-info {
  //       display: flex;
  //       width: 60rem;

  //       &-input {
  //         display: flex;
  //         align-items: center;
  //         width: 47.25rem;
  //         height: 3rem;
  //         border: 1px solid $grey-1;
  //         border-radius: 4px;
  //         background-color: $grey-2;
  //         padding-left: 1.5rem;
  //         color: $black-3;
  //       }

  //       .btn-verification {
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         margin-left: 1.5rem;
  //         background-color: $white;
  //         width: 9.25rem;
  //         border: 1px solid $grey-1;
  //         border-radius: 0.25rem;

  //         button {
  //           background-color: $white;
  //           border: none;
  //           font-size: 1rem;
  //           line-height: 1.5rem;
  //         }
  //       }

  //     }
  //   }
  //   .btn-edit {
  //     display: flex;
  //     margin-top: 3.75rem;
  //     width: 60rem;

  //     div {
  //       height: 2.5rem;

  //       &.btn-cancel {
  //         flex-grow: 1;
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         background-color: $white;
  //         border: 1px solid $grey-1;
  //         border-radius: 0.25rem;
  //         margin-right: 1.5rem;

  //         button {
  //           background-color: $white;
  //           border: none;
  //           font-size: 1rem;
  //           line-height: 1.5rem;
  //         }
  //       }
        
  //       &.btn-save {
  //         flex-grow: 1;
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%);
  //         border: 1px solid $grey-1;
  //         border-radius: 0.25rem;

  //         button {
  //           background: none;
  //           color: $white;
  //           border: none;
  //           font-size: 1rem;
  //           line-height: 1.5rem;
  //         }
  //       }
  //     }
  //   }
  // }
}

.title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
