@import "./extends/variables";
@import "./extends/devices";
main {
  width: auto;

  .page-title {
    // justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      font-weight: 900;
    }
  }
  .page-content {
    width: 80%;
    // display: flex;
    justify-content: center;
    margin: 2rem auto;
    align-items: center;

    .preview-box {
      border-radius: 0.25rem;
      background-color: $grey3-bg;
      // overflow: scroll;
      display: flex;
      justify-content: space-between;
      gap: 2.5rem;
      padding: 2.5rem;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(91.49deg, #6b0eda -0.16%, #af38c2 30.74%, #76bff3 100%);

      .painting-item {
        min-width: 17.5rem;
      }

      .item-detail {
        // flex-direction: column;
        justify-content: flex-start;
        height: 90%;
        p {
          white-space: wrap;
        }
        span {
          white-space: wrap;
          line-height: 2rem;
          font-weight: 400;
        }
        h4 {
          font-weight: bold;
          padding-top: 1.5rem;
          padding-bottom: 1rem;
        }
      }
      .description {
        width: 66%;
      }
    }
    .confirm-box {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      .back-btn {
        width: 33%;
      }
      .btn-gradient {
        width: 66%;
        p {
          padding-left: 0.5rem;
        }
      }
    }
  }
}
