@import "./extends/variables";
@import "./extends/devices";

.error {
  background-color: $red-2 !important;
  border: 1px solid $red-1 !important;
  border-radius: 0.25rem;
}

main {
  background-color: white;
  min-width: $min-with;

  .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-top: 3rem;
    .title {
      justify-content: start;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .create-status {
      p {
        font-size: 1rem;
        display: inline;
      }
    }
  }
  .break-line {
    margin-bottom: 1.5rem;
    border-radius: 1px;
    border-style: solid;
    height: 0.15rem;
    background-color: $black-1;
  }
  .input-item {
    margin-bottom: 2.5rem;
    label {
      font-weight: 900;
      font-size: medium;
    }
    .input-title {
      margin-bottom: 0.5rem;
      &#name {
        display: flex;
        justify-content: space-between;
      }
    }
    .input-upload {
      background-color: $grey3-bg;
      width: 100%;
      height: 35rem;
      position: relative;
      margin-bottom: 1.5rem;
      border: 2px solid $grey-2;

      &.upload-error {
        background-color: $red-2 !important;
        border: 1px solid $red-1 !important;
        border-radius: 0.25rem;
      }
      &:hover {
        border-color: $purple-1;
      }

      p {
        padding-bottom: 0.5rem;
      }
      .uploaded-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .note-text {
      padding-bottom: 0.5rem;
    }

    .upload-instruction {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin-bottom: 1rem;
      }
    }
    .uploaded-pic {
      display: none;
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .trash-icon {
        display: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 1);

        #uploaded-pic {
          opacity: 0.3;
        }

        .trash-icon {
          position: absolute;
          display: block;
        }
      }
    }
    .input-box {
      position: relative;
      overflow: hidden;
      margin-bottom: 0.5rem;
      border: 1px solid $grey-2;
      border-radius: 0.25rem;

      &.input-error {
        background-color: $red-2 !important;
        border: 1px solid $red-1 !important;
        border-radius: 0.25rem;
      }

      caret-color: $purple-1;
      &:hover {
        border-color: $purple-1;
      }
      input {
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        transition: 0.3s all;
        outline: none;
        border: none;
      }
      textarea {
        width: 100%;
        height: 11.5rem;
        position: relative;
        padding-left: 1rem;
        padding-top: 1rem;
        transition: 0.3s all;
        outline: none;
        border: none;
      }
    }
  }
  .btn-close {
    margin-right: 2rem;
  }
}
.warning-text {
  display: none;
  color: $red-1;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;

  &.display-warning {
    display: block;
  }
}
.submit-btn {
  background-color: #f0f0f0;
  margin-top: 2.5rem;
}
