@import "./extends/variables";
@import "./extends/devices";

.border-gray-config {
    border: 1px solid $grey-2;
    
    &.w-20 {
        width: 5rem;
    }

    &.w-28{
        width: 7rem;
    }

    &.w-48 {
        width: 12rem;
    }
}

header {
  border-bottom: 1px solid $grey-2;
}

main {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 2.5rem;

    .notification-title {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $black-1;
        margin: 0rem 2rem;
    }

    .notification-info {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0rem 2rem 2.5rem 0rem;

        .notification-num {
            flex-grow: 1;
            min-width: max-content;
            
            span {
                color: $purple-1;
            }
        }

        .notification-setting {
            display: flex;

            .read-processing-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                background-color: $grey-2;
                width: 6rem;
                height: 2.5rem;
                margin-right: 1rem;
                
                @extend .border-gray-config;
            }
        }
    }

    .table {
        height: 100%;
        // margin: 2.25rem 2rem 0rem 2rem;

        table {
            table-layout: fixed;
            width: 100%;
            border-top: 3px solid $black-2;

            tr {
                &.table-title {
                    height: 2.5rem;
                    background-color: $grey3-bg;

                    th {
                        border: 1px solid $grey-2;
                        text-align: center !important;
                        vertical-align: middle;

                        &.w-20 {
                            width: 5rem;
                        }
                    
                        &.w-28{
                            width: 7rem;
                        }
                    
                        &.w-48 {
                            width: 12rem;
                        }
                    }
                }
    
                &.table-content {
                    &.h-14 {
                        height: 3.5rem;
                    }
    
                    &.h-44 {
                        height: 11rem;
                    }

                    td {
                        border: 1px solid $grey-2;
                        text-align: center !important;
                        vertical-align: middle;

                        &.text-left {
                            text-align: left !important;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    .show-notification {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $grey-2;
        border-top-width: 0px;
        height: 2.5rem;
    }
}

.checkbox-style {
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $grey-1;
    height: 20px;
    width: 20px;
}

.middle-text {
    font-weight: bold;
    margin: 0rem 0.5rem;
}

.icon-notification {
    &:hover {
        svg {
            .arround-circle {
                stroke: $purple-1 !important;
            }
            // path {
            //     stroke: $white !important;
            // }
            // .small-circle {
            //     fill: $white !important;
            // }
        }
    }
}

.icon-setting {
    &:hover { 
        svg {
            circle {
                stroke: $purple-1 !important;
            }
            path {
                stroke: $purple-1 !important;
            }
        }
    }   
}