header {
  border-bottom: 1px solid #f0f0f0; }

main {
  display: flex;
  flex-direction: column;
  min-width: 70rem; }
  main .auction-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    main .auction-option .action-title {
      line-height: 1.875rem; }
      main .auction-option .action-title.left-title {
        margin-right: 1rem; }
      main .auction-option .action-title.right-title {
        margin-left: 1rem; }
      main .auction-option .action-title button {
        font-size: 1.25rem;
        border: none;
        background-color: #fff; }
        main .auction-option .action-title button.clicked {
          font-weight: bold;
          border-bottom: 4px solid #222222; }
        main .auction-option .action-title button.hall-of-fame-style {
          color: #fff;
          text-decoration: underline;
          text-decoration-color: #fff;
          background-color: #222222; }
  main .auction-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0rem; }
    main .auction-search .search-boxs {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #fff;
      width: 37rem;
      border: 1px solid #e6e6e6;
      border-radius: 1.5rem;
      padding: 0.75rem 1.5rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
      main .auction-search .search-boxs img {
        width: 1.5rem;
        height: 1.5rem; }
      main .auction-search .search-boxs input {
        width: 32rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        border: none;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.4rem;
        color: #989898; }
        main .auction-search .search-boxs input:focus {
          outline: none; }
    main .auction-search .select-option-button {
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 1.5rem;
      margin-left: 1rem;
      padding: 0.75rem 1.5rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
      main .auction-search .select-option-button button {
        border: none;
        background-color: #fff;
        counter-reset: #222222;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center; }
      main .auction-search .select-option-button:hover button {
        color: #7f5ce0; }
    main .auction-search .select-option {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #fff;
      border: 1px solid #f0f0f0;
      padding: 1.5rem;
      border-radius: 1.5rem;
      position: absolute;
      width: 9rem;
      height: 19rem; }
      @media screen and (min-width: 1024px) {
        main .auction-search .select-option {
          left: 54rem;
          top: 19rem; } }
      @media screen and (min-width: 1280px) {
        main .auction-search .select-option {
          left: 61.5rem;
          top: 19rem; } }
      @media screen and (min-width: 1440px) {
        main .auction-search .select-option {
          left: 63rem;
          top: 22rem; } }
      @media screen and (min-width: 1920px) {
        main .auction-search .select-option {
          left: 77rem;
          top: 22rem; } }
      main .auction-search .select-option .select-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; }
        main .auction-search .select-option .select-item span {
          font-size: 1rem;
          line-height: 1.5rem;
          margin-left: 1.125rem; }
      main .auction-search .select-option .button-option {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.125rem; }
        main .auction-search .select-option .button-option .btn-cancel {
          margin-right: 0.25rem; }
          main .auction-search .select-option .button-option .btn-cancel button {
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 20px;
            padding: 8px 16px;
            font-size: 0.75rem;
            line-height: 1.125rem; }
        main .auction-search .select-option .button-option .btn-apply {
          margin-left: 0.25rem; }
          main .auction-search .select-option .button-option .btn-apply button {
            background-color: #7f5ce0;
            color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 20px;
            padding: 8px 16px;
            font-size: 0.75rem;
            line-height: 1.125rem; }
  main .selected-filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #f8f6ff;
    margin-bottom: 2.5rem; }
    main .selected-filter .list-seleted {
      flex-grow: 7;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      color: #7f5ce0; }
      main .selected-filter .list-seleted .title-list {
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin-right: 1rem; }
      main .selected-filter .list-seleted .title-selected {
        display: flex;
        align-items: center;
        margin-left: 1rem; }
        main .selected-filter .list-seleted .title-selected svg path {
          stroke: #7f5ce0; }
    main .selected-filter .cancel-all {
      padding-right: 2rem; }
      main .selected-filter .cancel-all button {
        border: none;
        background-color: #f8f6ff;
        color: #7f5ce0;
        font-size: 1rem;
        line-height: 1.125rem; }
        main .selected-filter .cancel-all button:hover {
          border-bottom: 1px solid #7f5ce0; }
  main .auction-table {
    height: 100%; }
    main .auction-table table {
      table-layout: fixed;
      width: 100%;
      border-top: 3px solid #646464; }
      main .auction-table table tr {
        height: 2.5rem; }
        main .auction-table table tr th.w-88 {
          width: 5.5rem; }
        main .auction-table table tr th.w-104 {
          width: 6.5rem; }
        main .auction-table table tr th.w-184 {
          width: 11.5; }
        main .auction-table table tr th.w-120 {
          width: 7.5rem; }
        main .auction-table table tr th.w-204 {
          width: 12.75rem; }
        main .auction-table table tr th.w-212 {
          width: 13.25rem; }
        main .auction-table table tr th.w-304 {
          width: 19rem; }
        main .auction-table table tr.table-title {
          background-color: #f8f8f8; }
          main .auction-table table tr.table-title th {
            border: 1px solid #f0f0f0;
            text-align: center !important;
            vertical-align: middle; }
            main .auction-table table tr.table-title th .from-to-column {
              display: flex;
              justify-content: center;
              align-items: center; }
              main .auction-table table tr.table-title th .from-to-column .from {
                flex-grow: 1; }
              main .auction-table table tr.table-title th .from-to-column .to {
                flex-grow: 1; }
        main .auction-table table tr.table-content {
          background-color: #fff; }
          main .auction-table table tr.table-content.h-14 {
            height: 3.5rem; }
          main .auction-table table tr.table-content td {
            border: 1px solid #f0f0f0;
            text-align: center !important;
            vertical-align: middle; }
            main .auction-table table tr.table-content td .text-time-color {
              color: #646464; }
            main .auction-table table tr.table-content td .text-work-number {
              text-decoration: underline; }
            main .auction-table table tr.table-content td .text-price {
              font-weight: bold; }
            main .auction-table table tr.table-content td .from-to-column-content {
              display: flex; }
              main .auction-table table tr.table-content td .from-to-column-content .content-1 {
                text-decoration: underline;
                width: 7.5rem; }
              main .auction-table table tr.table-content td .from-to-column-content .content-2 {
                width: 3.9rem; }
              main .auction-table table tr.table-content td .from-to-column-content .content-3 {
                width: 7.5rem; }
            main .auction-table table tr.table-content td .text-Txid {
              color: #7f5ce0;
              text-decoration: underline; }
  main .hall-of-fame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem; }
    main .hall-of-fame .title-rank {
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.25rem;
      background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 10.74%, #92ccf5 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    main .hall-of-fame .list-card-rank {
      display: flex;
      justify-content: flex-start;
      margin-top: 5.5rem; }
      main .hall-of-fame .list-card-rank .card-rank .medal {
        position: relative;
        left: 19rem;
        top: 2rem; }
      main .hall-of-fame .list-card-rank .card-rank .left-card {
        height: 30rem;
        width: 17.5rem;
        margin-right: 3rem;
        background-color: #fff;
        color: #222222; }
      main .hall-of-fame .list-card-rank .card-rank .middle-card {
        height: 30rem;
        width: 17.5rem;
        margin-right: 3rem;
        background-color: #fff;
        color: #222222; }
      main .hall-of-fame .list-card-rank .card-rank .right-card {
        height: 30rem;
        width: 17.5rem;
        background-color: #fff;
        color: #222222; }
  main .delimiter {
    width: 76rem;
    height: 2px;
    background-color: #646464;
    margin: 5rem; }

.not-display-template {
  display: none; }

.display-template {
  display: block; }

.black-background {
  background-color: #222222; }
