.browse-detail {
  width: 100%;
  min-height: 100vh;
  background-color: #fff; }
  .browse-detail .detail-container .detail-img-wrapper .img-wrapper {
    position: relative;
    width: inherit; }
    .browse-detail .detail-container .detail-img-wrapper .img-wrapper .img-detail {
      height: 37rem;
      border: 1px solid #e6e6e6;
      border-radius: 0.5rem; }
    .browse-detail .detail-container .detail-img-wrapper .img-wrapper #zoom-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(34, 34, 34, 0.72);
      padding: 0.5rem 1rem;
      margin-bottom: 0.35rem;
      border-top-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      cursor: pointer; }
  .browse-detail .detail-container .detail-img-wrapper .btn-wrapper {
    display: flex; }
    .browse-detail .detail-container .detail-img-wrapper .btn-wrapper img {
      height: 1rem;
      margin-right: 0.25rem; }
    .browse-detail .detail-container .detail-img-wrapper .btn-wrapper span {
      color: #646464;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-left: 0.5rem; }
  .browse-detail .detail-container .detail-content-wrapper {
    border-top: 0.25rem solid #646464; }
    .browse-detail .detail-container .detail-content-wrapper .tag-button-wrapper {
      position: relative;
      margin-top: 1rem;
      padding-top: 0.5rem; }
      .browse-detail .detail-container .detail-content-wrapper .tag-button-wrapper .icon-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e6e6e6;
        padding: 0.5rem;
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        right: 0; }
    .browse-detail .detail-container .detail-content-wrapper .coin-detail {
      width: 100%; }
      .browse-detail .detail-container .detail-content-wrapper .coin-detail tr {
        border-bottom: 1px solid #f0f0f0; }
        .browse-detail .detail-container .detail-content-wrapper .coin-detail tr td {
          padding: 0.875rem;
          font-size: 1rem; }
          .browse-detail .detail-container .detail-content-wrapper .coin-detail tr td .text-black-3 {
            color: #989898; }
  .browse-detail hr {
    background-color: #e6e6e6;
    border: 4px solid #e6e6e6; }
  .browse-detail .bid-container {
    padding-top: 0; }
    .browse-detail .bid-container .grid-cols-2 {
      border-top: 1px solid #f0f0f0;
      padding-top: 2.5rem; }
      .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper {
        width: 100%;
        height: 3.5rem;
        border: 2px solid #222222;
        border-radius: 4px; }
        .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper .logo-metadium {
          background-color: #222222;
          width: 3.5rem;
          height: 100%;
          border: 2px solid #222222;
          border-radius: 4px; }
          .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper .logo-metadium img {
            display: inline-block; }
        .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper input {
          outline: none;
          border: none;
          width: 65%;
          height: 1.5rem;
          text-align: end;
          font-size: 1.25rem;
          font-weight: 700;
          color: #7f5ce0; }
          .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper input::placeholder {
            font-weight: 400; }
          .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper input::-webkit-outer-spin-button, .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
        .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper.err {
          border: 2px solid red; }
          .browse-detail .bid-container .grid-cols-2 .bid-right .input-wrapper.err input {
            color: #222222; }
  .browse-detail .custom-table {
    width: 100%; }
    .browse-detail .custom-table tr th {
      font-weight: 500;
      padding: 1rem 1.5rem;
      border: 1px solid #f0f0f0;
      background-color: #f8f8f8; }
    .browse-detail .custom-table tr td {
      padding: 1rem 1.5rem;
      border: 1px solid #f0f0f0;
      height: 100%; }
    .browse-detail .custom-table.type-1 {
      border-top: 2px solid #646464; }
    .browse-detail .custom-table.simple-table td:first-child {
      font-weight: 500;
      width: 12%;
      background-color: #f8f8f8; }
    .browse-detail .custom-table.data-table th.border-none {
      color: #646464;
      border-left: 0;
      border-right: 0; }
      .browse-detail .custom-table.data-table th.border-none:first-child {
        border-left: 1px solid #f0f0f0; }
      .browse-detail .custom-table.data-table th.border-none:last-child {
        border-right: 1px solid #f0f0f0; }
    .browse-detail .custom-table.data-table td {
      text-align: center; }
      .browse-detail .custom-table.data-table td a {
        color: #7f5ce0;
        text-decoration: underline #7f5ce0 solid; }
    .browse-detail .custom-table #group {
      display: flex;
      justify-content: space-around;
      border: 0;
      border-bottom: 1px solid #f0f0f0; }
      .browse-detail .custom-table #group td:nth-last-child() {
        border-bottom: 0 !important; }
  .browse-detail .detail-table-wrapper {
    position: relative;
    max-height: 18rem;
    overflow-y: scroll;
    border: 2px solid #f0f0f0;
    border-radius: 4px; }
    .browse-detail .detail-table-wrapper th {
      position: sticky;
      top: 3.2rem; }
    .browse-detail .detail-table-wrapper #title {
      border-top: 0;
      background-color: #f0f0f0;
      position: sticky;
      top: 0; }
    .browse-detail .detail-table-wrapper::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem; }
    .browse-detail .detail-table-wrapper::-webkit-scrollbar-track {
      background: transparent; }
    .browse-detail .detail-table-wrapper::-webkit-scrollbar-thumb {
      border-radius: 1.5rem;
      border: 0.25rem solid #989898; }
  .browse-detail .img-zoom {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95); }
    .browse-detail .img-zoom img {
      max-width: 37.5rem;
      height: auto;
      border: 1px solid #e6e6e6;
      display: inline-block;
      margin-bottom: 2.5rem; }
    .browse-detail .img-zoom button {
      width: 18rem; }
