.homepage .banner {
  height: 400px;
  min-width: 70rem;
  background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 30.74%, #92ccf5 100%); }

.homepage .painting {
  min-width: 70rem; }
  .homepage .painting .filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .homepage .painting .filter-bar-category p {
      display: inline-block;
      color: #646464;
      padding-bottom: 0.5rem;
      margin-right: 1.5rem; }
    .homepage .painting .filter-bar-category .active {
      font-weight: bold;
      border-bottom: 0.25rem solid #222222;
      color: #222222; }
  .homepage .painting .sort-bar-category {
    display: flex; }
    .homepage .painting .sort-bar-category .sort-wrapper {
      min-width: 12rem;
      position: relative; }
      .homepage .painting .sort-bar-category .sort-wrapper .button-sort {
        width: 100%;
        justify-content: space-between; }
        .homepage .painting .sort-bar-category .sort-wrapper .button-sort:hover {
          background-color: #fff;
          color: #989898; }
        .homepage .painting .sort-bar-category .sort-wrapper .button-sort .list-selected-sort {
          margin: 0 1.5rem;
          font-weight: 700;
          color: #222222;
          max-width: 10rem; }
      .homepage .painting .sort-bar-category .sort-wrapper .list-state {
        display: none;
        position: absolute;
        top: 3.5rem;
        right: 0;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        padding: 1.5rem;
        margin-top: 0.5rem; }
        .homepage .painting .sort-bar-category .sort-wrapper .list-state.list-sort {
          padding: 1.5rem 0;
          min-width: 14rem; }
        .homepage .painting .sort-bar-category .sort-wrapper .list-state .sort-item {
          padding: 0.7rem 1.25rem; }
          .homepage .painting .sort-bar-category .sort-wrapper .list-state .sort-item:hover {
            background-color: #f0f0f0; }
          .homepage .painting .sort-bar-category .sort-wrapper .list-state .sort-item.selected {
            background-color: #f2eeff; }
        .homepage .painting .sort-bar-category .sort-wrapper .list-state .state {
          display: flex;
          align-items: center;
          margin-bottom: 1.25rem; }
          .homepage .painting .sort-bar-category .sort-wrapper .list-state .state-label {
            margin-left: 1.25rem;
            min-width: 5.5rem; }
        .homepage .painting .sort-bar-category .sort-wrapper .list-state .button-wrapper {
          display: flex; }
          .homepage .painting .sort-bar-category .sort-wrapper .list-state .button-wrapper-close {
            margin-right: 0.5rem;
            font-size: 0.75rem;
            padding: 0.25rem 1rem;
            height: 2.25rem;
            min-width: 4rem !important; }
          .homepage .painting .sort-bar-category .sort-wrapper .list-state .button-wrapper-save {
            margin-left: 0.5rem;
            font-size: 0.75rem;
            height: 2.25rem;
            min-width: 4rem !important; }
  .homepage .painting .list-painting {
    padding-top: 3.5rem; }

.homepage .bottom-action {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3.5rem; }
  .homepage .bottom-action .top-btn {
    position: absolute;
    right: 0; }
  .homepage .bottom-action img {
    margin-left: 0.75rem; }
