@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  font-size: 16px; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.625rem 1rem;
  min-width: 6rem;
  transition: 0.3s ease-in-out;
  color: #989898;
  height: 3rem; }
  .btn:active {
    color: #7f5ce0; }
  .btn-content-left {
    justify-content: left; }
  .btn-shadown {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1); }
  .btn.btn-header-login {
    border-color: #7f5ce0;
    color: #7f5ce0;
    margin-left: 1.5rem;
    flex-shrink: 0; }
    .btn.btn-header-login img, .btn.btn-header-login svg {
      margin-right: 0.5rem; }
  .btn-pill {
    border-radius: 2rem; }
    .btn-pill:hover {
      background: #7f5ce0;
      color: #fff; }
      .btn-pill:hover svg path {
        stroke: #fff !important; }
  .btn-round {
    border-radius: 50%; }
    .btn-round:hover {
      background: #7f5ce0;
      color: #fff; }
      .btn-round:hover svg path {
        stroke: #fff !important; }
  .btn-round-sm {
    border-radius: 3rem; }
    .btn-round-sm:hover {
      background: #7f5ce0;
      color: #fff; }
      .btn-round-sm:hover svg path {
        stroke: #fff !important; }
  .btn-full {
    width: 100%; }
  .btn-purple-primary {
    background: #7f5ce0;
    color: #fff; }
  .btn-outline-purple-1 {
    border-color: #7f5ce0;
    color: #7f5ce0; }
  .btn-purple-2 {
    background: #bba4ff;
    color: #fff; }
  .btn-light {
    background-color: #ffffff;
    color: #222222; }
  .btn-gradient {
    background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%);
    color: #fff; }
  .btn-gradient-1 {
    background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 30.74%, #92ccf5 100%);
    color: #fff; }
  .btn-dark {
    background-color: #222222;
    color: #fff; }
  .btn-black2 {
    background-color: #646464;
    color: #fff; }
  .btn-grey2 {
    background-color: #f0f0f0;
    color: #989898; }

.container {
  padding: 3.5rem 2rem; }
  @media screen and (min-width: 1440px) {
    .container {
      padding: 3.5rem 7rem; } }
  @media screen and (min-width: 1920px) {
    .container {
      padding: 3.5rem 22rem; } }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem; }

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem; }

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  grid-auto-rows: 1fr; }

.w-30 {
  max-width: 30%; }

.text-center {
  text-align: center !important;
  vertical-align: middle; }

.text-left {
  text-align: left !important;
  vertical-align: middle; }

.text-right {
  text-align: right !important;
  vertical-align: middle; }

.text-white {
  color: #fff !important; }

.text-purple {
  color: #7f5ce0 !important; }

.text-black-1 {
  color: #222222 !important; }

.text-black-2 {
  color: #646464 !important; }

.text-black-3 {
  color: #989898 !important; }

.text-red {
  color: #ff1c1c; }

.text-red-1 {
  color: #fff8f8; }

.mt-1 {
  margin-top: 0.25rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mt-4 {
  margin-top: 1rem; }

.mt-6 {
  margin-top: 1.5rem; }

.mt-10 {
  margin-top: 2.5rem; }

.ml-2 {
  margin-left: 0.5rem; }

.ml-4 {
  margin-left: 1rem; }

.ml-6 {
  margin-left: 1.5rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mr-3 {
  margin-right: 1rem; }

.mr-4 {
  margin-right: 1rem; }

.mr-6 {
  margin-right: 1.5rem; }

.mb-4 {
  margin-bottom: 1rem; }

.mb-6 {
  margin-bottom: 1.5rem; }

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem; }

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem; }

.text-base {
  font-size: 1rem;
  line-height: 1.5rem; }

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem; }

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem; }

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem; }

.font-bold {
  font-weight: 700; }

.inline-block {
  display: inline-block; }

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70rem; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.align-center {
  display: flex;
  align-items: center; }

.arrow-left {
  transform: rotate(90deg); }

.arrow-right {
  transform: rotate(-90deg); }

.img-fluid {
  max-width: 100%;
  height: auto; }

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.painting-item {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  padding: 1rem 1.5rem; }
  .painting-item .painting-title {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #989898; }
    .painting-item .painting-title a {
      background-color: #7f5ce0;
      border-radius: 20px;
      color: #fff;
      padding: 0.35rem 0.75rem;
      margin-right: 0.5rem;
      flex-shrink: 0; }
    .painting-item .painting-title .days {
      flex-shrink: 0; }
    .painting-item .painting-title img {
      margin-right: 0.375rem;
      margin-left: 0.5rem; }
  .painting-item .image-box {
    position: relative;
    margin-top: 0.75rem; }
    .painting-item .image-box img {
      margin-top: 3px;
      width: 100%;
      margin-right: 0.25rem; }
    .painting-item .image-box .like {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(34, 34, 34, 0.72);
      padding: 0.25rem 0.5rem;
      border-top-left-radius: 0.5rem;
      color: #fff;
      font-size: 0.75rem;
      cursor: pointer; }
  .painting-item .description {
    margin-top: 0.5rem; }
    .painting-item .description .main {
      font-weight: bold;
      margin-top: 0.75rem; }
    .painting-item .description .sub {
      font-size: 0.75rem;
      margin-top: 0.5rem; }
    .painting-item .description .price {
      border-top: 1px solid #f0f0f0;
      margin-top: 1rem;
      padding: 1rem 0; }
      .painting-item .description .price-tag {
        color: #7f5ce0;
        font-weight: bold;
        margin: 0.25rem 0; }

.btn-go-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3.23rem;
  height: 3.23rem;
  min-width: 0;
  background: #333333;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease; }

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6); }
  .modal-wrapper .card {
    background-color: #fff;
    width: 33.3%;
    border-radius: 0.25rem;
    padding: 3rem;
    text-align: left;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2); }
    .modal-wrapper .card #term-title {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      padding-bottom: 1rem; }
    .modal-wrapper .card .close-btn {
      margin: 0 auto;
      width: 50%;
      margin-top: 1.25rem; }
    .modal-wrapper .card .btn-model {
      margin: 0 auto;
      width: 50%;
      margin-top: 1.25rem; }
    .modal-wrapper .card .button-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem; }

html {
  scroll-behavior: smooth; }

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  color: #222222;
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  min-width: 70rem;
  border-bottom: 1px solid #f0f0f0; }
  @media screen and (min-width: 1440px) {
    header {
      padding: 1rem 7rem; } }
  @media screen and (min-width: 1920px) {
    header {
      padding: 1rem 22rem; } }
  header .link {
    display: flex;
    align-items: center; }
    header .link .logo {
      width: 3rem; }
    header .link .link-container {
      display: flex; }
      header .link .link-container a {
        font-size: 1.25rem;
        color: #222222;
        font-weight: bold;
        padding: 0 0.75rem;
        transition: 0.3s all; }
        header .link .link-container a:hover {
          color: #7f5ce0; }
  header .action {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    width: 50%; }
    header .action .search-box {
      position: relative;
      border-radius: 2rem;
      overflow: hidden;
      border: 1px solid #f0f0f0;
      width: 80%;
      max-width: 22.5rem; }
      header .action .search-box:focus {
        border-color: red; }
      header .action .search-box:hover {
        border: double 1px transparent;
        background-image: linear-gradient(white, white), linear-gradient(91.49deg, #6b0eda -0.16%, #af38c2 30.74%, #76bff3 100%);
        background-origin: border-box;
        background-clip: content-box, border-box; }
      header .action .search-box .search-icon {
        position: absolute;
        left: 1.5rem;
        top: 1rem; }
        header .action .search-box .search-icon svg {
          width: 1rem;
          height: 1rem; }
      header .action .search-box input {
        width: 100%;
        padding: 1rem 3rem;
        background-color: #f0f0f0;
        transition: 0.3s all;
        outline: none;
        border: none; }
        header .action .search-box input::-webkit-search-cancel-button {
          position: absolute;
          right: 1.5rem;
          top: 1rem; }
        header .action .search-box input:focus {
          background-color: #fff;
          outline: none; }
    header .action a {
      margin: 0 0.75rem; }

footer {
  background: #222222;
  color: #fff;
  padding: 1.75rem 2rem; }
  @media screen and (min-width: 1440px) {
    footer {
      padding: 1.75rem 7rem; } }
  @media screen and (min-width: 1920px) {
    footer {
      padding: 1.75rem 22rem; } }
  footer img {
    margin-right: 0.5rem; }
  footer .info,
  footer .action {
    display: flex;
    align-items: center; }
  footer p {
    margin-right: 0.5rem; }
  footer .copyright {
    opacity: 0.9; }
  footer .desc {
    opacity: 0.5; }
