.login {
  width: 100%;
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-grow: 1; }
  .login .card-login {
    padding: 3.5rem 1.5rem; }
    .login .card-login .logo-wrapper {
      width: 10rem;
      height: 1.25rem;
      margin: 0 auto;
      padding-bottom: 1rem; }
    .login .card-login .title {
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      padding: 0 6rem; }
    .login .card-login main {
      padding: 2rem 2rem 1rem 2rem; }
    .login .card-login .bg-active {
      background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%); }
      .login .card-login .bg-active .img-wrapper {
        width: 8rem;
        height: 1.5rem;
        margin-right: 0.5rem; }
      .login .card-login .bg-active p {
        color: white; }
    .login .card-login .text-signup {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center; }
      .login .card-login .text-signup a {
        display: inline-block;
        color: #222222; }
  .login .signup-comp-card {
    padding: 3.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login .signup-comp-card .title {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem; }
    .login .signup-comp-card .sub-title {
      font-size: 1rem;
      font-weight: 700; }
    .login .signup-comp-card main {
      margin-top: 2rem;
      padding: 0 3rem; }
      .login .signup-comp-card main #light-btn {
        border: 1px solid #e6e6e6; }
      .login .signup-comp-card main #primary-btn {
        background-color: #7f5ce0;
        color: #fff;
        margin-bottom: 1rem; }
      .login .signup-comp-card main .description {
        text-align: left;
        margin-right: 1.5rem; }
  .login .signup-card {
    padding: 3.5rem 1.5rem; }
    .login .signup-card .img-wrapper {
      width: 10rem;
      height: 1.25rem;
      margin: 0 auto;
      padding-bottom: 1rem; }
    .login .signup-card .title {
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem; }
    .login .signup-card main {
      margin: 3rem 2rem 0 2rem; }
      .login .signup-card main .checkbox-all-wrapper {
        padding-bottom: 1rem;
        border-bottom: 1px solid #f0f0f0; }
      .login .signup-card main .wrapper-checkbox {
        display: flex;
        padding: 1rem 1.5rem 0 0.75rem;
        justify-content: space-between;
        align-items: center; }
        .login .signup-card main .wrapper-checkbox .right-icon {
          width: 1.5rem;
          height: 1.5rem;
          color: #e6e6e6;
          cursor: pointer; }
      .login .signup-card main .checkbox-wrapper {
        display: flex;
        align-items: center; }
        .login .signup-card main .checkbox-wrapper .text {
          margin-left: 1rem; }
          .login .signup-card main .checkbox-wrapper .text.text-bold {
            font-weight: 700; }
          .login .signup-card main .checkbox-wrapper .text span {
            color: #ff1c1c; }
        .login .signup-card main .checkbox-wrapper img {
          width: 1.75rem;
          height: 1.75rem; }
      .login .signup-card main .description {
        margin-top: 2.5rem; }
      .login .signup-card main .signup-btn {
        margin-top: 1.5rem;
        background-color: #e6e6e6;
        font-family: "Noto Sans KR", "Roboto", sans-serif;
        color: #e6e6e6; }
        .login .signup-card main .signup-btn .btn-label {
          margin-left: 0.5rem; }
        .login .signup-card main .signup-btn.active {
          background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%);
          color: #fff; }
  .login .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6); }
    .login .modal-wrapper .card {
      background-color: #fff;
      width: 33.3%;
      border-radius: 0.25rem;
      padding: 3rem;
      text-align: left;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2); }
      .login .modal-wrapper .card #term-title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1rem; }
      .login .modal-wrapper .card .close-btn {
        margin: 0 auto;
        width: 50%;
        margin-top: 1.25rem; }
      .login .modal-wrapper .card .button-wrapper {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center; }
  .login .modal-login {
    width: 20% !important; }
    .login .modal-login .btn {
      width: 50% !important; }
      .login .modal-login .btn.close-login-btn {
        margin-right: 1rem; }

.card {
  width: 30%;
  background-color: white;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2); }

.mt-6 {
  margin-top: 1.5rem; }

.app-card {
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem; }
  .app-card .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .app-card .content .content-left div {
      width: 8rem;
      height: 1.75rem; }
    .app-card .content .qr-code {
      width: 4rem;
      height: 4rem; }
