@charset "UTF-8";
header {
  border-bottom: 1px solid #f0f0f0; }

.mypie {
  position: relative;
  display: flex; }
  .mypie .sidebar {
    width: 10rem;
    margin-right: 3rem;
    border-top: 0.25rem solid #222222;
    padding-top: 1.25rem; }
    .mypie .sidebar h2 {
      color: #7f5ce0; }
    .mypie .sidebar .list {
      margin-top: 1.375rem;
      padding-top: 1.5rem;
      border-top: 0.16rem solid #989898; }
      .mypie .sidebar .list ul {
        color: #646464; }
        .mypie .sidebar .list ul li {
          margin-top: 1rem;
          cursor: pointer;
          transition: 0.3s ease-in-out; }
          .mypie .sidebar .list ul li::before {
            content: "•";
            color: #646464;
            display: inline-block;
            width: 1em; }
          .mypie .sidebar .list ul li:hover {
            color: #7f5ce0; }
  .mypie .main .info-and-status {
    background: #fff;
    background-clip: padding-box;
    /* !importanté */
    border: solid 1px transparent;
    /* !importanté */
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; }
    .mypie .main .info-and-status::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: linear-gradient(91.49deg, #8b5ad4 -0.16%, #c760d8 30.74%, #92ccf5 100%); }
    .mypie .main .info-and-status .info {
      display: flex;
      align-items: center;
      padding: 2rem 2.5rem; }
      .mypie .main .info-and-status .info img {
        margin-right: 1.5rem; }
      .mypie .main .info-and-status .info-desc-title {
        font-weight: bold;
        margin-bottom: 0.5rem; }
    .mypie .main .info-and-status .status {
      border-top: 1px solid #f0f0f0;
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      overflow: hidden; }
      .mypie .main .info-and-status .status-item {
        padding: 1rem 2.5rem;
        overflow: hidden;
        text-align: center; }
        .mypie .main .info-and-status .status-item p:first-child {
          font-size: 0.75rem;
          color: #646464;
          margin-bottom: 0.35rem; }
        .mypie .main .info-and-status .status-item p:nth-child(2) {
          font-size: 1.25rem;
          font-weight: bold; }
        .mypie .main .info-and-status .status-item:first-child {
          border-radius: 0px 0px 0px 8px;
          text-align: center; }
        .mypie .main .info-and-status .status-item:hover {
          background: #f8f6ff; }
      .mypie .main .info-and-status .status .active {
        background: #f8f6ff; }
      .mypie .main .info-and-status .status .action {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 2.5rem; }
        .mypie .main .info-and-status .status .action svg path {
          stroke: #989898; }
      .mypie .main .info-and-status .status .setting-btn {
        width: 2.5rem;
        height: 2.5rem;
        min-width: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 0.5rem; }
      .mypie .main .info-and-status .status .upload-btn {
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
        .mypie .main .info-and-status .status .upload-btn svg {
          margin-right: 0.5rem; }
  .mypie .main .list-painting {
    padding-top: 3.5rem;
    gap: 3rem; }
  .mypie .main-profile-edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75rem;
    height: 48rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.5rem;
    padding: 2.5rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); }
    .mypie .main-profile-edit .edit-title {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.875rem; }
    .mypie .main-profile-edit .avata-image-edit {
      display: flex;
      align-items: center;
      margin-top: 1rem; }
      .mypie .main-profile-edit .avata-image-edit button {
        width: 9.25rem;
        height: 2.5rem;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 0.25rem;
        font-size: 1rem;
        line-height: 1.5rem; }
        .mypie .main-profile-edit .avata-image-edit button.btn-change {
          margin-left: 1.5rem; }
        .mypie .main-profile-edit .avata-image-edit button.btn-delete {
          margin-left: 1rem; }
    .mypie .main-profile-edit .nickname {
      margin-top: 2.5rem; }
      .mypie .main-profile-edit .nickname-input {
        display: flex;
        align-items: center;
        width: 58rem;
        height: 3rem;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        padding-left: 1.5rem; }
    .mypie .main-profile-edit .about-me {
      margin-top: 2.5rem; }
      .mypie .main-profile-edit .about-me-input {
        display: flex;
        align-items: center;
        width: 58rem;
        height: 5.5rem;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        padding-left: 1.5rem; }
    .mypie .main-profile-edit .did {
      margin-top: 2.5rem; }
      .mypie .main-profile-edit .did-input {
        display: flex;
        align-items: center;
        width: 58rem;
        height: 3rem;
        border: 1px solid #e6e6e6;
        border-radius: 0.25rem;
        background-color: #f0f0f0;
        padding-left: 1.5rem;
        color: #989898; }
    .mypie .main-profile-edit .email {
      margin-top: 2.5rem; }
      .mypie .main-profile-edit .email .email-info {
        display: flex;
        width: 60rem; }
        .mypie .main-profile-edit .email .email-info-input {
          display: flex;
          align-items: center;
          width: 47.25rem;
          height: 3rem;
          border: 1px solid #e6e6e6;
          border-radius: 4px;
          background-color: #f0f0f0;
          padding-left: 1.5rem;
          color: #989898; }
        .mypie .main-profile-edit .email .email-info .btn-verification {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1.5rem;
          background-color: #fff;
          width: 9.25rem;
          border: 1px solid #e6e6e6;
          border-radius: 0.25rem; }
          .mypie .main-profile-edit .email .email-info .btn-verification button {
            background-color: #fff;
            border: none;
            font-size: 1rem;
            line-height: 1.5rem; }
    .mypie .main-profile-edit .btn-edit {
      display: flex;
      margin-top: 3.75rem;
      width: 60rem; }
      .mypie .main-profile-edit .btn-edit div {
        height: 2.5rem; }
        .mypie .main-profile-edit .btn-edit div.btn-cancel {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border: 1px solid #e6e6e6;
          border-radius: 0.25rem;
          margin-right: 1.5rem; }
          .mypie .main-profile-edit .btn-edit div.btn-cancel button {
            background-color: #fff;
            border: none;
            font-size: 1rem;
            line-height: 1.5rem; }
        .mypie .main-profile-edit .btn-edit div.btn-save {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(90deg, #000000 1.69%, #333333 73.89%, #646464 100%);
          border: 1px solid #e6e6e6;
          border-radius: 0.25rem; }
          .mypie .main-profile-edit .btn-edit div.btn-save button {
            background: none;
            color: #fff;
            border: none;
            font-size: 1rem;
            line-height: 1.5rem; }

.title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem; }

.title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem; }
