main {
  width: auto; }
  main .page-title {
    align-items: center; }
    main .page-title h1 {
      text-align: center;
      font-weight: 900; }
  main .page-content {
    width: 80%;
    justify-content: center;
    margin: 2rem auto;
    align-items: center; }
    main .page-content .preview-box {
      border-radius: 0.25rem;
      background-color: #f8f8f8;
      display: flex;
      justify-content: space-between;
      gap: 2.5rem;
      padding: 2.5rem;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(91.49deg, #6b0eda -0.16%, #af38c2 30.74%, #76bff3 100%); }
      main .page-content .preview-box .painting-item {
        min-width: 17.5rem; }
      main .page-content .preview-box .item-detail {
        justify-content: flex-start;
        height: 90%; }
        main .page-content .preview-box .item-detail p {
          white-space: wrap; }
        main .page-content .preview-box .item-detail span {
          white-space: wrap;
          line-height: 2rem;
          font-weight: 400; }
        main .page-content .preview-box .item-detail h4 {
          font-weight: bold;
          padding-top: 1.5rem;
          padding-bottom: 1rem; }
      main .page-content .preview-box .description {
        width: 66%; }
    main .page-content .confirm-box {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 3rem; }
      main .page-content .confirm-box .back-btn {
        width: 33%; }
      main .page-content .confirm-box .btn-gradient {
        width: 66%; }
        main .page-content .confirm-box .btn-gradient p {
          padding-left: 0.5rem; }
