.error {
  background-color: #fff8f8 !important;
  border: 1px solid #ff1c1c !important;
  border-radius: 0.25rem; }

main {
  background-color: white;
  min-width: 70rem; }
  main .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-top: 3rem; }
    main .top .title {
      justify-content: start;
      font-weight: bold;
      font-size: 1.25rem; }
    main .top .create-status p {
      font-size: 1rem;
      display: inline; }
  main .break-line {
    margin-bottom: 1.5rem;
    border-radius: 1px;
    border-style: solid;
    height: 0.15rem;
    background-color: #222222; }
  main .input-item {
    margin-bottom: 2.5rem; }
    main .input-item label {
      font-weight: 900;
      font-size: medium; }
    main .input-item .input-title {
      margin-bottom: 0.5rem; }
      main .input-item .input-title#name {
        display: flex;
        justify-content: space-between; }
    main .input-item .input-upload {
      background-color: #f8f8f8;
      width: 100%;
      height: 35rem;
      position: relative;
      margin-bottom: 1.5rem;
      border: 2px solid #f0f0f0; }
      main .input-item .input-upload.upload-error {
        background-color: #fff8f8 !important;
        border: 1px solid #ff1c1c !important;
        border-radius: 0.25rem; }
      main .input-item .input-upload:hover {
        border-color: #7f5ce0; }
      main .input-item .input-upload p {
        padding-bottom: 0.5rem; }
      main .input-item .input-upload .uploaded-preview {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    main .input-item .note-text {
      padding-bottom: 0.5rem; }
    main .input-item .upload-instruction {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .input-item .upload-instruction img {
        margin-bottom: 1rem; }
    main .input-item .uploaded-pic {
      display: none;
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .input-item .uploaded-pic .trash-icon {
        display: none; }
      main .input-item .uploaded-pic:hover {
        background-color: black; }
        main .input-item .uploaded-pic:hover #uploaded-pic {
          opacity: 0.3; }
        main .input-item .uploaded-pic:hover .trash-icon {
          position: absolute;
          display: block; }
    main .input-item .input-box {
      position: relative;
      overflow: hidden;
      margin-bottom: 0.5rem;
      border: 1px solid #f0f0f0;
      border-radius: 0.25rem;
      caret-color: #7f5ce0; }
      main .input-item .input-box.input-error {
        background-color: #fff8f8 !important;
        border: 1px solid #ff1c1c !important;
        border-radius: 0.25rem; }
      main .input-item .input-box:hover {
        border-color: #7f5ce0; }
      main .input-item .input-box input {
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        transition: 0.3s all;
        outline: none;
        border: none; }
      main .input-item .input-box textarea {
        width: 100%;
        height: 11.5rem;
        position: relative;
        padding-left: 1rem;
        padding-top: 1rem;
        transition: 0.3s all;
        outline: none;
        border: none; }
  main .btn-close {
    margin-right: 2rem; }

.warning-text {
  display: none;
  color: #ff1c1c;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem; }
  .warning-text.display-warning {
    display: block; }

.submit-btn {
  background-color: #f0f0f0;
  margin-top: 2.5rem; }
