.border-gray-config, main .notification-info .notification-setting .read-processing-btn {
  border: 1px solid #f0f0f0; }
  .border-gray-config.w-20, main .notification-info .notification-setting .w-20.read-processing-btn {
    width: 5rem; }
  .border-gray-config.w-28, main .notification-info .notification-setting .w-28.read-processing-btn {
    width: 7rem; }
  .border-gray-config.w-48, main .notification-info .notification-setting .w-48.read-processing-btn {
    width: 12rem; }

header {
  border-bottom: 1px solid #f0f0f0; }

main {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 2.5rem; }
  main .notification-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #222222;
    margin: 0rem 2rem; }
  main .notification-info {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0rem 2rem 2.5rem 0rem; }
    main .notification-info .notification-num {
      flex-grow: 1;
      min-width: max-content; }
      main .notification-info .notification-num span {
        color: #7f5ce0; }
    main .notification-info .notification-setting {
      display: flex; }
      main .notification-info .notification-setting .read-processing-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background-color: #f0f0f0;
        width: 6rem;
        height: 2.5rem;
        margin-right: 1rem; }
  main .table {
    height: 100%; }
    main .table table {
      table-layout: fixed;
      width: 100%;
      border-top: 3px solid #646464; }
      main .table table tr.table-title {
        height: 2.5rem;
        background-color: #f8f8f8; }
        main .table table tr.table-title th {
          border: 1px solid #f0f0f0;
          text-align: center !important;
          vertical-align: middle; }
          main .table table tr.table-title th.w-20 {
            width: 5rem; }
          main .table table tr.table-title th.w-28 {
            width: 7rem; }
          main .table table tr.table-title th.w-48 {
            width: 12rem; }
      main .table table tr.table-content.h-14 {
        height: 3.5rem; }
      main .table table tr.table-content.h-44 {
        height: 11rem; }
      main .table table tr.table-content td {
        border: 1px solid #f0f0f0;
        text-align: center !important;
        vertical-align: middle; }
        main .table table tr.table-content td.text-left {
          text-align: left !important;
          vertical-align: middle; }
  main .show-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-top-width: 0px;
    height: 2.5rem; }

.checkbox-style {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  height: 20px;
  width: 20px; }

.middle-text {
  font-weight: bold;
  margin: 0rem 0.5rem; }

.icon-notification:hover svg .arround-circle {
  stroke: #7f5ce0 !important; }

.icon-setting:hover svg circle {
  stroke: #7f5ce0 !important; }

.icon-setting:hover svg path {
  stroke: #7f5ce0 !important; }
